# Use root/example as user/password credentials
version: '3.1'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 123456
      MYSQL_DATABASE: read_nest
    ports:
      - "3306:3306"

  # navicat
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6379:6379"
